# Environment Variables for Khodiyar Enterprise Backend
APP_HOST=YOUR_APP_HOST
APP_PORT=YOUR_APP_PORT
NODE_ENV=YOUR_NODE_ENV
LOG_LEVEL=YOUR_LOG_LEVEL
JWT_SECRET=YOUR_JWT_SECRET

# Database Configuration
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

# JWT Configuration

ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=YOUR_ACCESS_TOKEN_EXPIRY
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET

# Email Configuration
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASS
SMTP_FROM=YOUR_SMTP_FROM


# Razorpay Configurations
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_API_SECRET=YOUR_RAZORPAY_API_SECRET

# Frontend Configuration
FRONTEND_URL=YOUR_FRONTEND_URL